@using oyunsitesiprojedeneme2.Domain.Models;
@model List<BucketDataModel>
@{
}



<head>

<title> KARWAGAMES:ürün sepeti </title>
    <link rel="stylesheet" href="~/css/bucketPage.css">
    <link rel="stylesheet" href="~/css/MainPage.css">
    <link rel="stylesheet" href="~/css/productPage.css">

</head>

<body>

    <div class="ustMenu">

        <div class="ustMenuPart">

            <!--- <div class="ustMenuPart" style="width: 10%;background-image: url('~/images/trykarwalorYellow.png');background-size:cover; margin-left: 2%;"></div>--->
            <div class="ustMenuPart" style="width: 100%; margin-left: 4%;">
                <a href="/Home/Index"><input type="button" class="ustMenuNesne" style="float:left" value="ANASAYFA"></a>
                <input type="button" class="ustMenuNesne" style="float:left" value="SSS">
                <input type="button" class="ustMenuNesne" style=" float:left" value="İLETİŞİM">
                <a href="/Home/Products"><input type="button" class="ustMenuNesne" style="float:left" value="ÜRÜNLER"></a>

            </div>

        </div>

        <div class="ustMenuPart" style="width:48%;">

            <!--- <div class="ustMenuPart" style="width: 10%;background-image: url('~/images/trykarwalorYellow.png');background-size:cover; margin-left: 2%;"></div>--->
            <div class="ustMenuPart" style="width: 100%; margin-right: 4%;">
                <form action="/Home">
                    <a href="/Home/bucketPage"><input type="button" class="ustMenuNesne" style="float:right; cursor:pointer;" value="SEPET"></a>
                    <a href="/Home/kayitPage?"><input type="button" class="ustMenuNesne" style="float:right; cursor:pointer;" value="KAYIT OL"></a>
                    <a href="/Home/girisPage"><input type="button" class="ustMenuNesne" style="float:right; cursor:pointer;" value="GİRİŞ YAP"></a>
                </form>

            </div>

        </div>


    </div>

    <div class="bucketPageTitle">

        <p class="bucketTitle">SEPET:</p>

    </div>

    <div class="ProductOutCardFixed">
        @foreach (var pro in Model)
        {
            <form action="/cart/bucketExit">
            <div class="ProductCard">
                <div class="productPhotoStyle" style="background-image:url(@pro.bucketPhoto.ToString()); background-size:cover"></div>
                <div class="productTitleCard">
                    <p class="productTitle">@pro.bucketName</p>
                </div>
                <div class="productDescCard">
                    <p class="productDesc">@pro.bucketPrice</p>
                </div>
                <input type="hidden" name="bucketProductId" value="@pro.bucketId">
                <input type="submit" value="Sepetten çıkar">
            </div>
            </form>
        }


    </div>

</body>