<head>

    <title>KARWAGAMES: Kayıt sayfası</title>
    <link rel="stylesheet" href="~/css/GirisEkran.css">

</head>

<body>
    <form action="/Authentication/Login">
        <div class="kayitCard">

            <div class="kayitCardBaslik">
                <h1 class="kayitPageFont"><b>KARWAGAMES</b></h1>
                <h2 class="kayitPageFont"><b>GİRİŞ SAYFASI</b></h2>
            </div>

            <div class="kayitCardContain">

                <div class="kayitInputStyle">
                    <p class="kayitCardFontStyle kayitPageFont">Kullanici adı</p>
                    <input name="UsersName" class="kayitCardInputTextStyle" type="text" placeholder="Kullanıcı adınızı giriniz">
                </div>

            </div>



            <div class="kayitCardContain">

                <div class="kayitInputStyle">
                    <p class="kayitCardFontStyle kayitPageFont">Şifre</p>
                    <input name="Password" class="kayitCardInputTextStyle" type="password" placeholder="şifrenizi giriniz">
                </div>

            </div>



            <div class="kayitCardContain">

                <div class="kayitInputStyle">
                    <input class="kayitCardInputSubmitStyle" type="submit" value="GİRİŞ YAP">
                </div>

            </div>

        </div>
    </form>

</body>